*.idea/
__pycache__/
*.pyc/
*.pyo/
*.egg-info/
*.egg/
*.cache/
*.log
dist/
build/
*.tiff
*.tif
images/
tests/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.egg-info
*.egg
*.cache
## Adding the following as I see no reason to keep these files in the repo
env-static.yml
gim_cv_gpu_env.yml
inference_dir
logs
new_scripts
bin
