[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "2.10.0"
matplotlib = "*"
scipy = "*"
scikit-learn = "*"
h5py = "*"
einops = "*"
keras = "*"
pandas = "*"
geopandas = "*"
numpy = "*"
tqdm = "*"
scikit-image = "*"
cached-property = "*"
regex = "*"
pyyaml = "*"
aiohttp = "*"
dask = "*"
keras-tuner = "*"
setuptools = "*"
build = "*"
sqlalchemy = "*"
rasterio = "*"
scrapy = "*"
aiofiles = "*"
twine = "*"
tensorflow-addons = "*"
distributed = "*"
zarr = "*"
imgaug = "*"
albumentations = {extras = ["imgaug"], version = "*"}
cufflinks = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.9"
